<div class="container">
<nav class="navbar navbar-dark bg-primary navbar-expand-md py-md-2">
    <a class="navbar-brand" href="#">SonicVision</a>
    <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
              <a class="nav-link" routerLink="/solutions">Solutions</a>
            </li>
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
              <a class="nav-link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
                <a class="nav-link" routerLink="/careers">Careers</a>
              </li>
            <li class="nav-item py-md-2" role="presentation" routerLinkActive="active">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
</div>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>