<div class="container">
    <div class="row col-md-12">
      <h1>Services</h1>
    </div>
    <div class="row col-md-12">
      <p>
          From providing Staffing, Consulting and Systems Integration Services to managing IT and business functions on behalf of our clients, Sonic Vision provides an all-encompassing offering that includes the planning, design, implementation and management of highly effective IT environments. Our global delivery capabilities include onsite and off-shore options, giving our clients the flexibility to choose the model that best meets their needs and requirements.</p>
    </div>
</div>