<div class="container">
    <div class="row">
        <div class="col-md-6 z-depth-5">
          <img class="img-fluid" src="../../assets/home_page.png">
        </div>
        <div class="col-md-6 z-depth-5">
            <img class="img-fluid panel panel-default" src="../../assets/home_page4.jpg">
          </div>
    </div>

    <div class="row">
      <div class="col-md-4 panel panel-default">
        <img src="../../assets/welcome.jpg">
        <p>We seek to provide top IT expertise and technical assistance to help clients in the implementation of their solutions.</p>
      </div>
      <div class="col-md-4 panel panel-default">
          <img src="../../assets/quality_management.jpg">
          <p>We offer the right commitment and focus while partenering with our clients in their growth endeavors.</p>
      </div>
      <div class="col-md-4 panel panel-default">
          <img src="../../assets/our_technologies.jpg">
          <p>Our technologists focus on delivering solutions and services to support current and future business needs of our clients.</p>
      </div>
    </div>
</div>

